<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login admin</title>
</head>
<body>
    {% if erreur is defined %}
    {{ erreur }}
    {% else %}
    <p></p>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    <input type="submit" value="Se connecter">
    {{ form_end(form) }}
</body>
</html>