{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Les clients</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.adresse }}</td>
                    <td>
                        <a href="{{ path('client_edit', {id: client.id}) }}" class="btn btn secondary">Editer</a>
                        <form method="post" action="{{ path('client_delete', {id: client.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('client_new') }}" class="text-left">
            <div class="btn btn-primary">Ajouter client</div>
        </a>
    </div>
{% endblock %}
