{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Les clients</h1>
        <table class="table table-striped">
            <a href="{{ path('client_new') }}" class="text-left">
                <div class="btn btn-primary">Ajouter client</div>
            </a>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.adresse }}</td>
                    <td>
                        <a href="{{ path('client_edit', {id: client.id}) }}" class="btn btn secondary">Editer</a>
                        <a href="#" onclick="DeletClient({{ client.id }})" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('list_temoignage',{id: client.id}) }}" class="btn btn-outline-primary">Temoignages</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <script>
        function DeletClient(id) {
            if(confirm("Voulez vous vraiment supprimer cette Enregistrement ?")){
                window.location='/back/public/index.php/delete/client/'+id;
                console.log("ok")
            }
            else{
                alert("L'enregistrement n'a pas été supprimé.")
            }
        }
    </script>
{% endblock %}
